<link rel="manifest" href="/manifest.json">
<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
<script>
  let date1 = null
  let date2 = null
  let token = null
  var config = {
    apiKey: "AIzaSyB9NZaTI7-nEvluyD3kBrsKSimUsTR2M9I",
    authDomain: "moving-target-37ff9.firebaseapp.com",
    databaseURL: "https://moving-target-37ff9.firebaseio.com",
    projectId: "moving-target-37ff9",
    messagingSenderId: "299607004565"
  };
  firebase.initializeApp(config);
  firebase.messaging().onMessage(function (payload) {
        console.log('Message received. ', payload);
      date2 = new Date()
      let diffrance = Math.abs(date1.getTime()-date2.getTime())/1000
      console.log(diffrance)
      firebase.database().ref("Timers/1").push({
        time:diffrance,
        token:token,
        start:date1.toString(),
        end:date2.toString()
      })
      firebase.database().ref("Server").once("value",(snap)=>{
        if(snap.val()!= null){
              server = new Date(snap.val()['time'])
              client = new Date()
              firebase.database().ref("Moving").push({
                time:Math.abs(client.getTime()-server.getTime())/1000
              })
          }
      })
    // write timer here // 
  });
  var ALPHABET = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ';

var ID_LENGTH = 20;

var generate = function () {
  var rtn = '';
  for (var i = 0; i < ID_LENGTH; i++) {
    rtn += ALPHABET.charAt(Math.floor(Math.random() * ALPHABET.length));
  }
  return rtn;
}
  myid  = generate()
  slaveid = 'i-03e429433a6623c9f'
  firebase.database().ref('slavesClients/'+slaveid+'/'+myid).on('child_added',(snap)=>{
    console.log(snap.val())
  })
  class client {
    constructor(IMEI) {
      this.IMEI = IMEI
        this.register()
    }
    register() {
      let msg = firebase.messaging()
      msg.IMEI = this.IMEI
      msg.requestPermission().then(function () {
        console.log('Notification permission granted.');
        msg.getToken().then(function (currentToken) {
          token = currentToken
          firebase.database().ref("newclients/" + msg.IMEI).set({
            IMEI: msg.IMEI,
            notificationToken: currentToken
          }).then(function(){
              date1 = new Date()
          })
        })

      }).catch(function (err) {
        console.log('Unable to get permission to notify.', err);
      });
    }
    listen() {
     
    }
  }


  
  c = new client(myid)

  // i should make a class
</script>